@model IEnumerable<TorneioTabajara.Models.Comissao>

@{
    ViewBag.Title = "Comissões";
    var cargos = Enum.GetValues(typeof(TorneioTabajara.Models.Cargo)).Cast<TorneioTabajara.Models.Cargo>();
}

<h2>Comissão tecnica</h2>

<!-- Formulário de busca -->
@using (Html.BeginForm("Index", "Comissaos", FormMethod.Get))
{
    <div class="form-inline mb-3">
        <div class="form-group">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-control mx-2" value="@Request.QueryString["nome"]" />
        </div>

        <div class="form-group">
            <label for="cargo">Cargo: </label>
            <select name="cargo" class="form-control mx-2">
                <option value="">Todos</option>
                @foreach (var cargo in cargos)
                {
                    <option value="@cargo" @(Request.QueryString["cargo"] == cargo.ToString() ? "selected" : "")>
                        @cargo
                    </option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Time.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Cargo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @(item.DataNascimento.ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
