@model IEnumerable<TorneioTabajara.Models.Partida>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstatisticaJogo.PartidaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time1.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time2.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstatisticaJogo.PartidaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time1.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time2.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
