@model IEnumerable<TorneioTabajara.Models.Gol>

@{
    ViewBag.Title = "Gols";
}

<h2>Lista de Gols</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstatisticaJogo.PartidaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jogador.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minuto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoGol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstatisticaJogo.PartidaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jogador.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minuto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoGol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
